@model RentalManagement.Models.Invoice_Equipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice_Equipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipment.Equipment_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.Equipment_Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.Invoice_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.Invoice_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceEquipment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
