@model RentalManagement.Models.Rental

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receive_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receive_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receive_hr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receive_hr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Return_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return_hr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Return_hr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rental_rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rental_rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Rental_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
